/* breadcrumb-shape breadcrumb-dark ----------------------------------------  */
.breadcrumb-theme {
  background-color: #fff;

  .breadcrumb-item {
    a {
      color: #6c7293;
      font-weight: 500;
      padding: 5px;
      border-radius: 4px;
      text-decoration: none;

      i {
        color: #c8cde8;
      }

      &:hover {
        background-color: #f0f3ff;
        color: $brand !important;

        i {
          color: #5d78ff;
        }

      }
    }

    &.active {
      background-color: #f0f3ff;
      color: lighten($brand, 10%) !important;
      transition: all 0.3s ease;
      cursor: pointer;
      font-weight: 500;
    }

  }
}