.f-montserrat {
    font-family: 'Montserrat', sans-serif!important;
}

.f-open-sans {
    font-family: 'Open Sans', sans-serif!important;
}

.f-flexo {
    font-family: 'Flexo';
}

.f-flexo-heavy {
    font-family: 'Flexo-Heavy';
}

.f-nexa {
    font-family: 'Nexa';
}