//  ---------------------------------------------------
//     NAVBAR STYLE
// -----------------------------------------------------
.navbar {
    .nav-item {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

//  ---------------------------------------------------
//     HEADER STYLE
// -----------------------------------------------------
.brand-md {
    height: inherit;
    .navbar-brand {
        height: 100%;
        overflow: hidden;
        // padding: 0.2rem .25rem;
        margin-right: 0;
        .logo-brand {
            max-height: 75px;
            height: 100%;
            transition: all 1s ease;
            // padding-bottom: .5rem;
            width: 0;
        }
    }
}

//  ---------------------------------------------------
//     NAVBAR STYLE
// -----------------------------------------------------
.navbar-theme {
    padding: 0;
    .navbar-collapse.show {
        border-top: 1px solid rgba(0, 0, 0, 1);
    }
    .nav-item {
        padding-left: 1rem;
        padding-right: 1rem;
        .nav-link {
            // padding-left: 0.5rem;
            // padding-right: 0.5rem;
            padding-top: 0.5rem!important;
            padding-bottom: 0.5rem!important;
            padding: 0;
            color: #434040;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // border-bottom: 3px solid transparent;
            font-weight: 600;
            &.active,
            &:hover {
                color: $primary !important;
                // border-bottom-color: #223342;
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .navbar-toggler {
        padding: 0.25rem 0.25rem;
        margin-right: 0.5rem;
    }
    .dropdown-menu {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
        padding: .25rem;
        .dropdown-item {
            padding-top: .25rem;
            padding-bottom: .25rem;
        }
    }
    .dropdown-menu.dropdown-right {
        right: 0;
        left: auto;
    }
    .shadow-navbar {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }
    .navbar-nav {
        display: flex;
        // width: 100%;
        height: inherit;
        >li {
            flex: 1;
        }
    }
    @include media-breakpoint-up(md) {
        .nav-item {
            .nav-link {
                padding-top: 0;
                padding-bottom: 0;
                span {
                    border: 1px solid transparent;
                    padding: 0 .5rem;
                    width: 100%;
                    border-radius: 10px;
                }
                &.active,
                &:hover {
                    color: $primary !important;
                    span {
                        border: 1px solid #0661e5;
                    }
                }
            }
        }
        .container {
            height: 65px;
            .brand-md,
            .navbar-collapse {
                height: inherit !important;
            }
        }
    }
    /* @include media-breakpoint-down(md) {
    .container {
      padding-top: .25rem;
      padding-bottom: .25rem;

    }

  } */
}