.wrap-search-content {
  // height: 60px ;
  max-width: 950px !important;
  width: 100%;
}

.wrap-search {
  position: relative;
  // top: -66px;
}

.wrap-search {
  background-color: #34b200;
  padding: 1.5rem;
}

.wrap-search .form-search {
  border: 1px solid #ffffff;
  padding: 1rem;
  border-radius: .75rem;
}

.wrap-search .form-control {
  height: 40px;
  padding: 0 20px;
  color: #888;
  font-size: 16px;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.3);

}

.wrap-search .form-control:focus {
  border-color: #ccc;
  box-shadow: 0px 28px 81px -7px rgba(0, 0, 0, 0.45);
}

.wrap-search .btn {
  // border-left: 1px solid #e0e3e3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all ease-out 0.3s;
  background-color: #ffb600;
  background: linear-gradient(0deg, #ff7c25, #ffb600);
  max-height: 40px;
}



.wrap-search .btn i {
  font-size: 20px;
}

.wrap-search .btn:hover {
  box-shadow: inset 0px 28px 81px -7px rgba(0, 0, 0, 0.25);
}

@include media-breakpoint-up(md) {
  .wrap-search-content {
    height: 60px;
  }

  .wrap-search {
    top: -66px;
  }

  .wrap-search .btn {
    border-left: 1px solid #e0e3e3;
  }

}

@media( max-width: 600px) {
  .form-search .input-group {
    display: block;

    .form-control {
      border-radius: .25rem;
      margin-bottom: 1rem;
    }

    .input-group-append {
      justify-content: flex-end;
    }

    .btn {
      border-radius: .25rem;
      // margin-bottom: 1rem;
      border-left: 0;
      display: block;
      width: 100%;
    }
  }

}

.search-block .wrap-search-content {
  height: auto!important
}

.search-block .wrap-search {
  top: auto!important
}